.feed_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.feed_author {
    flex: 1;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #d3d3d3;
    padding-right: 20px;
}

.feed {
    flex: 5;
    margin-left: 70px;
}

.feed_author_img {
    height: 50px;
    width: 50px;
    border-radius: 80px;
}